<div ng-controller="SessionsCtrl">
	<button class = "button btn btn-default" ng-click="logout()" />
	</div>

<div class="row">	
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-primary" ng-repeat="project in user.projects">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{project.name}}
		    <div class="pull-right">
		    	<a href="#" ng-click="delete_project($index)" >
		    		<span class="glyphicon glyphicon-trash" />
		    	</a>
		    </div>
		    </h3>
		    
		  </div>
		  <div class="panel-body nopadding">
		  	<div class="input-group">
	        	<span class="input-group-addon">
	          		<span class="glyphicon glyphicon-plus"/>
	          	</span>
	          	<input type="text" class="form-control" ng-model="project.create_task_name"/>
	          	<span class="input-group-btn">
	          		<button type="button" class="btn btn-default" ng-click="create_task($index, project.create_task_name)" style="width:200px"> ADD
	          		</button>
	          	</span>
	        </div>
	        <div  ng-repeat="task in user.projects[$index].tasks" class="row nopadding animation">
	        	<div class="col-xs-1 nopadding" style="border-right: 1px solid #F7DBE0; width: 34px; height: 40px; text-align:center;" >
	        		<div class="checkbox-input" style="margin: 10px 10px; height: 100%;">
	        			<input type="checkbox" />
	        		</div>
	        	</div>
	        	<div class="col-xs-9" style="border-right: 1px solid #F7DBE0;">
	        	<h4 >{{task.name}}</h4>
	        	</div>
	        	<div class="col-xs-2">
	        		<button type="button" class="btn btn-xs btn-default" ng-click="priority_up(task, $parent.$index)"> up</button>
	        		<button type="button" class="btn btn-xs btn-default" ng-click="task_delete(task, $parent.$index)"> de</button>
	        		<button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#editTaskModal" ng-click="open_modal($parent.$index, task)"> ed</button>
	        		<button type="button" class="btn btn-xs btn-default" ng-click="priority_down(task, $parent.$index)"> do</button>
	        	</div>
	        </div>
		  </div>
		</div>

		

		<!-- Button trigger modal -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  Launch demo modal
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Create project</h4>
		      </div>
		      <div class="modal-body">
		        <div>Project name: <input ng-model="create_project.project_name"/></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" ng-click="create_project()" data-dismiss="modal">Create</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Edit task</h4>
		      </div>
		      <div class="modal-body">
		        <div>Task name: <input ng-model="open_modal.edited_task_name"/></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" ng-click="open_modal_clear()" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" ng-click="edit_task()" data-dismiss="modal">Create</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
</div>

{{user.projects}}
{{open_modal.project_index}}
{{open_modal.task_index}}
{{open_modal.edited_task_name}}
