<div>
  <h1>Login</h1>
</div>

<div class="body">
  <div>Email: <input ng-model="login_user.email" /></div>
  <div>Password: <input type="password" ng-model="login_user.password" /></div>

  <button ng-click="login()" class="btn btn-primary" >Sign in</button>
  <button class="btn btn-primary" >Sign up</button>
</div>