<div>
  <h1>Register / Password Change</h1>
</div>

<div class="body">
  <div ng-class="{error: register_error.errors.email}">Email: <input ng-model="register_user.email" />
    <div ng-show="register_error.errors.email">
      <div ng-repeat="field_error in register_error.errors.email">{{field_error}}</div>
    </div>
  </div>

  <div ng-class="{error: register_error.errors.password}">Password: <input type="password" ng-model="register_user.password" />
    <div ng-show="register_error.errors.password">
      <div ng-repeat="field_error in register_error.errors.password">{{field_error}}</div>
    </div>
  </div>

  <div ng-class="{error: register_error.errors.password_confirmation}">Confirm password: <input type="password" ng-model="register_user.password_confirmation" />
    <div ng-show="register_error.errors.password_confirmation">
      <div ng-repeat="field_error in register_error.errors.password_confirmation">{{field_error}}</div>
    </div>
  </div>

  <button ng-click="register()" class="btn btn-primary" >Register</button>
</div>