
<div class="col-sm-8 col-sm-offset-2">
    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>SIGN UP</h1></div>
    <form name="userForm" ng-submit="register()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : (userForm.email.$invalid && !userForm.email.$pristine) || register_error.errors.email}">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="register_user.email" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            <div ng-show="register_error.errors.email">
            <p ng-repeat="field_error in register_error.errors.email" class="help-block">{{field_error}}</p>
            </div>
        </div>

        <!-- PASSWORD !-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="register_user.password" required ng-minlength="8">
            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>

        <!-- PASSWORD CONFIRMATION !-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password_confirmation.$invalid && !userForm.password.$pristine || register_user.password != register_user.password_confirmation}">
            <label>Password confirmation</label>
            <input type="password" name="password_confirmation" class="form-control" ng-model="register_user.password_confirmation" required ng-minlength="8">
            <p ng-show="register_user.password != register_user.password_confirmation" class="help-block">Invalid confirmation.</p>
            <p ng-show="userForm.password_confirmation.$error.minlength" class="help-block">Password is too short.</p>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="#/login"><button class="btn btn-primary">Sign In</button></a>
        
    </form>