<div ng-controller="SessionsCtrl">
	<button class = "button btn btn-default" ng-click="logout()" > Logout </button>
</div>


<div style="text-align: center; margin-bottom: 50px;">
    <h1><b>SIMPLE TODO LIST</b></h1>
    <h3>FROM RUBY GARAGE</h3>
</div>

<!--  Project template  !-->
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-primary" ng-repeat="project in user.projects" ng-mouseenter="hoverp = true" ng-mouseleave="hoverp = false">

			<!-- Project panel heading !-->
		  <div class="panel-heading">
		    <h3 class="panel-title">
          <span class="glyphicon glyphicon-list-alt" style="color: dimgrey; margin-right: 20px; font-size: 20px;"/>
            {{project.name}}
		    <div class="pull-right" ng-class="{manageProject: hoverp}" style="padding-top: 5px; visibility: hidden;">
		    	<a data-toggle="modal" data-target="#editProjectModal" ng-click="edit_project_modal($index, $parent.project)">
                    <span class="glyphicon glyphicon-pencil" style="color: #ffffff;"/>
                </a>
                <a ng-click="delete_project($index)">
		    		<span class="glyphicon glyphicon-trash" style="color: #ffffff;"/>
		    	</a>
		    </div>
		    </h3>
		  </div>

		  <!-- Project panel body !-->
		  <div class="panel-body nopadding">

		  	<!-- New task form !-->
		  	<div style="height: 45px; background-color: #DEDEDE">
          <div class="col-xs-1" style="float: left; margin-top: 5px; text-align: center;">
            <span class="glyphicon glyphicon-plus" style="font-size: 2.3em; color: #5CB595;"/>
          </div>
          <div class="col-xs-9" style="margin-top: 6px; padding-right: 0; padding-left: 0;">
	          <input type="text" class="form-control" ng-model="project.create_task_name" />
          </div>
          <div class="col-xs-2" style="margin-top: 6px; padding-left: 0;">
	          <button type="button" class="btn btn-default" ng-click="create_task($index, project.create_task_name)" style="width: 100%; background-color: #5CB595;"> ADD
	          </button>
          </div>
	      </div>

	      <!-- Projects tasks !-->
	      <div  ng-repeat="task in user.projects[$index].tasks" ng-class="{task: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" style="border-bottom:1px solid #F7DBE0; height:50px;" class="my-repeat-animation">

	      	<!-- Task done !-->
	        <div class="col-xs-1" style="border-right: 1px solid #F7DBE0; height: 50px; text-align:center;" >
	        	<div class="checkbox-input" style="margin-top: 15px; height: 100%;">
              <input type="checkbox" ng-model="task.done" ng-click="task_done(task, $parent.$index, task.done)"/>
            </div>
	        </div>

	        <!-- Task name !-->
	        <div class="col-xs-9" style="border-right:1px solid #F7DBE0; height: 50px;">
	        	<div style="margin-top: 15px;"><h4>{{task.name}}</h4></div>
	        </div>

	        <!-- Task delete edit update !-->
        	<div class="col-xs-2"  ng-class="{managetask: hover}" style="visibility: hidden; height:50px;">
        	  <div class="row" style="margin-top: 7px;">
              <div class="col-xs-4" >
                <table>
                  <tbody>
                  	<tr>
                      <td>
                        <a class="ex1" ng-click="priority_up(task, $parent.$index)" style="border-bottom: 1px solid #666666; display: block;">
                          <span class="glyphicon glyphicon-arrow-up" style="font-size: 10px;"/>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a ng-click="priority_down(task, $parent.$index)" style="border-top: 1px solid #666666; display: block;">
                          <span class="glyphicon glyphicon-arrow-down" style="font-size: 10px;"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-4" style="margin-top: 10px;">
			          <a data-toggle="modal" data-target="#editTaskModal" ng-click="edit_task_modal($parent.$index, task)" >
			    		    <span class="glyphicon glyphicon-pencil" />
			          </a>
              </div>
              <div class="col-xs-4" style="margin-top: 10px;">
                <a ng-click="task_delete(task, $parent.$index)" >
                  <span class="glyphicon glyphicon-trash" />
                </a>
              </div>
            </div>
		    </div>
	      </div>
		  </div>
		</div>

		<!-- Button:Add project -->

    <div class="col-xs-4 col-xs-offset-4">
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createProjectModal">
        <span class="glyphicon glyphicon-plus"/>  Add TODO List
			</button>
    </div>

		<!-- Create project modal -->
		<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Create project</h4>
		      </div>
		      <div class="modal-body">
		        <div>Project name: <input ng-model="create_project.project_name"/></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" ng-click="create_project()" data-dismiss="modal">Create</button>
		      </div>
		    </div>
		  </div>
		</div>

        <!-- Edit task modal !-->
		<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Edit task</h4>
		      </div>
		      <div class="modal-body">
		        <div>Task name: <input ng-model="edit_task_modal.edited_task_name"/></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" ng-click="edit_task_modal_clear()" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" ng-click="edit_task()" data-dismiss="modal">Create</button>
		      </div>
		    </div>
		  </div>
		</div>

        <!-- Edit project modal !-->
        <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit task</h4>
                    </div>
                    <div class="modal-body">
                        <div>Project name: <input ng-model="edit_project_modal.edited_project_name"/></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="edit_project_modal_clear()" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="edit_project()" data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
		
	</div>
</div>

