body {
  background: url(image-path('back.jpg')) repeat-x;

}

.managetask{
    visibility: visible !important;
}

.manageProject{
  visibility: visible !important;
}

.task{
  cursor:pointer;
  height: 20em;
  transition: all 1s ease 0s;
  background: #FFFAAE;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave, 
.my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.my-repeat-animation.ng-leave {
  left:0;
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.my-repeat-animation.ng-move {
  opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
  opacity:1;
}

.my-repeat-animation.ng-move {
    position: relative;
    top: 40px;
}

.my-repeat-animation.ng-move.ng-move-active {
    transition: all 0.5s ease;
    top: 0;
    opacity: 1.0;
}

.my-repeat-animation.ng-move + div {
    /* cannot have transition on this element */
    /*transition: all 1s ease;*/
    position: relative;
    top: -40px;
}

.my-repeat-animation.ng-move.ng-move-active + div {
    position: relative;
    transition: all 0.5s ease;
    top: 0;
    opacity: 1.0;
}

.my-repeat-animation.ng-enter {
    position: relative;
    opacity: 0.0;
    height: 0;
    left: 100px;
}

.my-repeat-animation.ng-enter.ng-enter-active {
    transition: all 0.5s ease;
    opacity: 1.0;
    left: 0;
    height: 26px;
}


.my-repeat-animation.ng-leave {
    position: relative;
    opacity: 1.0;
    left: 0;
    height: 26px;
}

.my-repeat-animation.ng-leave.ng-leave-active {
    transition: all 0.5s ease;
    opacity: 0.0;
    left: 100px;
    height: 0;
    top: -13px;
}
.slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
    right: -100%;

}
.slide.ng-enter-active {
    left: 0;
    right: 0;
}
.slide.ng-leave {
    left: 0;
    right: 0;
}
.slide.ng-leave-active {
    right: 100%;
    left: -100%;
}
 a:hover {
    background-color:rgba(255,255,255,0.2) !important;
}