!!!
%html{"ng-app" => "rgtask"}
  %head
    %title RGTask
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', controller_name
    = csrf_meta_tags
  %body
    = yield